<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<section layout:fragment="content">
  <div class="login-form-wrapper">
    <div class="login-form-title">SEARCH USERS</div>
      <form th:action="@{/searchuser}" method="post">
          <input type="text" name="searchTerm" th:value="${searchTerm}">
      </form>

                <div>CPR</div>
                <div>Firstname</div>
                <div>Lastname</div>
                <div>Email</div>
                <div>Phone Number</div>
            <div th:each="user : ${users}">
                <a href="/">
                    <div th:text="${user.getUsername()}"></div>
                    <div th:text="${user.getFirstname()}"></div>
                    <div th:text="${user.getLastname()}"></div>
                    <div th:text="${user.getEmail()}"></div>
                    <div th:text="${user.getPhone_no()}"></div>
                </a>
            </div>

  </div>
</section>

</body>
</html>