<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Browse Users</title>
    <link th:href="@{/css/tables.css}"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper w-700px">
        <div class="content-title">
            <h1>BROWSE USERS</h1>
        </div>

        <form class="cocs-form search-form" th:action="@{/searchuser}" method="post">
            <input class="form-input search-input w-50" type="text" name="searchTerm" th:value="${searchTerm}"
                   placeholder="Search users" autocomplete="off">
            <input class="form-submit search-submit" type="submit" value="Search" name="search">
            <input class="form-submit search-submit" type="submit" value="Reset" name="reset">
        </form>
        <table class="user-table w-100">
            <tr>
                <th>CPR</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Role</th>
            </tr>
            <tr class="data-tr browse-tr" th:each="user : ${users}">
                <td>
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="${user.getFirst().getUsername()}"></span>
                    </a>
                </td>
                <td>
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="${user.getFirst().getFirstname()}"></span>
                    </a>
                </td>
                <td>
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="${user.getFirst().getLastname()}"></span>
                    </a>
                </td>
                <td>
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="${user.getFirst().getEmail()}"></span>
                    </a>
                </td>
                <td>
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="${user.getFirst().getPhone_no()}"></span>
                    </a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/user/__${user.getFirst().getUsername()}__}">
                        <span th:text="
                                |${user.getSecond().getAuthority() == 'ROLE_USER' ? 'USER' : ''}
                                 ${user.getSecond().getAuthority() == 'ROLE_PERSONNEL' ? 'PERSONNEL' : ''}
                                 ${user.getSecond().getAuthority() == 'ROLE_ADMIN' ? 'ADMIN' : ''}|">
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</section>

</body>
</html>