<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Profile Information</title>
    <link th:href="@{/css/tables.css}"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper w-700px">
        <div class="content-title">
            <h1>Profile Information</h1>
        </div>
        <form class="" th:action="@{/profile}" method="post">
            <table class="user-table w-100">
                <tr>
                    <th style="width: 110px">CPR</th>
                    <th style="width: 130px">Firstname</th>
                    <th style="width: 150px">Lastname</th>
                    <th style="width: 190px">Email</th>
                    <th style="width: 120px">Phone Number</th>
                </tr>

                <tr class="data-tr profile-tr">
                    <td>
                        <a>
                            <span th:text="${user.getUsername()}"></span>
                        </a>
                    </td>
                    <td class="profile-td profile-hover">
                        <a>
                            <span class="info" th:text="${user.getFirstname()}"></span>
                            <input name="firstname" class="infoInput" style="display: none"
                                   type="text" th:value="${user.getFirstname()}"/>
                        </a>
                    </td>
                    <td class="profile-td profile-hover">
                        <a>
                            <span class="info" th:text="${user.getLastname()}"></span>
                            <input name="lastname" class="infoInput" style="display: none"
                                   type="text" th:value="${user.getLastname()}"/>
                        </a>
                    </td>
                    <td class="profile-td profile-hover">
                        <a>
                            <span class="info" th:text="${user.getEmail()}"></span>
                            <input name="email" class="infoInput" style="display: none"
                                   type="text" th:value="${user.getEmail()}"/>
                        </a>
                    </td>
                    <td class="profile-td profile-hover">
                        <a>
                            <span class="info" th:text="${user.getPhone_no()}"></span>
                            <input name="phone_no" class="infoInput" style="display: none"
                                   type="number" th:value="${user.getPhone_no()}"/>
                        </a>
                    </td>
                </tr>
            </table>
            <div class="w-100 ta-center">
                <input id="update-profile" class="form-submit w-100px" type="submit" style="display: none" value="Save">
            </div>
        </form>
    </div>
    <script>
        let hover = document.getElementsByClassName("profile-td");
        let info = document.getElementsByClassName("info");
        let infoInput = document.getElementsByClassName("infoInput");
        let updateProfile = document.getElementById("update-profile");

        for (let i = 0; i < info.length; i++) {
            console.log(info[i].value)
            info[i].onclick = function edit() {
                info[i].style.display = "none";
                infoInput[i].style.display = "table-cell";
                updateProfile.style.display = "inline-block";
                hover[i].classList.remove("profile-hover");
            }
        }
    </script>
</section>
</body>
</html>