<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link th:href="@{/css/tables.css}"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper w-700px">
        <div class="content-title">
            <h1 th:text="|${user.getFirstname()} ${user.getLastname()}|"></h1>
        </div>

        <div class="ta-center m-top-50px">
            <h2>USER INFO</h2>
        </div>
        <table class="user-table w-100">
            <tr>
                <th style="width: 110px">CPR</th>
                <th style="width: 130px">Firstname</th>
                <th style="width: 150px">Lastname</th>
                <th style="width: 190px">Email</th>
                <th style="width: 120px">Phone Number</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!isRemoteUser}">Role</th>
            </tr>

            <tr class="data-tr profile-tr">
                <td>
                    <a>
                        <span th:text="${user.getUsername()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getFirstname()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getLastname()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getEmail()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getPhone_no()}"></span>
                    </a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!isRemoteUser}">
                    <a>
                        <form id="changeAuthority" th:action="@{/user/__${user.getUsername()}__}" method="post">
                            <select required name="updateAuthority">
                                <option disabled selected value style="display: none"
                                        th:text="|${authority.getAuthority() == 'ROLE_USER' ? 'USER' : ''}
                                                  ${authority.getAuthority() == 'ROLE_PERSONNEL' ? 'PERSONNEL' : ''}
                                                  ${authority.getAuthority() == 'ROLE_ADMIN' ? 'ADMIN' : ''}|">
                                </option>
                                <option th:each="authorityString : ${authorityStrings}"
                                        th:if="${authorityString} != ${authority.getAuthority()}"
                                        th:text="|${authorityString == 'ROLE_USER' ? 'USER' : ''}
                                                  ${authorityString == 'ROLE_PERSONNEL' ? 'PERSONNEL' : ''}
                                                  ${authorityString == 'ROLE_ADMIN' ? 'ADMIN' : ''}|">

                                </option>
                            </select>
                        </form>
                    </a>
                </td>
            </tr>
            <script type="text/javascript">
                let changeAuthority = document.getElementById("changeAuthority");

                changeAuthority.addEventListener("change", function() {
                    changeAuthority.submit();
                });
            </script>
        </table>

        <table th:replace="fragments/bookings :: usersVaccineBookings"></table>
        <table th:replace="fragments/bookings :: usersTestBookings"></table>
    </div>
</section>
</body>
</html>