<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link th:href="@{/css/tables.css}"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper w-700px">
        <div class="content-title">
            <h1 th:text="${user.getUsername()}"></h1>
        </div>

        <div class="ta-center m-top-50px">
            <h2>USER INFO</h2>
        </div>
        <table class="user-table w-100">
            <tr>
                <th style="width: 110px">CPR</th>
                <th style="width: 130px">Firstname</th>
                <th style="width: 150px">Lastname</th>
                <th style="width: 190px">Email</th>
                <th style="width: 120px">Phone Number</th>
            </tr>

            <tr class="data-tr profile-tr">
                <td>
                    <a>
                        <span th:text="${user.getUsername()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getFirstname()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getLastname()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getEmail()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${user.getPhone_no()}"></span>
                    </a>
                </td>
            </tr>
        </table>

        <table class="user-table w-100" th:if="${hasVaccineBooking}">

            <div class="ta-center m-top-50px">
                <h2>VACCINES</h2>
            </div>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            <tr class="data-tr profile-tr" th:each="booking : ${bookings}"
                th:if="${booking.getFirst().getType()} == 'VACCINE'">
                <td>
                    <a>
                        <span th:text="${booking.getFirst().getDate()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getFirst().getTime()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getSecond().getType()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getSecond().getStatus()}"></span>
                    </a>
                </td>
            </tr>
        </table>

        <table class="user-table w-100" th:if="${hasTestBooking}">
            <div class="ta-center m-top-50px">
                <h2>TESTS</h2>
            </div>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>

            <tr class="data-tr profile-tr" th:each="booking : ${bookings}"
                th:if="${booking.getFirst().getType()} == 'TEST'">
                <td>
                    <a>
                        <span th:text="${booking.getFirst().getDate()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getFirst().getTime()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getSecond().getStatus()}"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>