<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table th:fragment="usersVaccineBookings" class="user-table w-100" th:if="${hasVaccineBooking}">

  <div class="ta-center m-top-50px">
    <h2>VACCINES</h2>
  </div>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type</th>
    <th>Status</th>
    <th class="ta-right" th:if="${canCancelVaccine}"></th>
  </tr>
  <tr class="data-tr profile-tr" th:each="booking : ${bookings}"
      th:if="${booking.getFirst().getType()} == 'VACCINE'">
    <td>
      <a>
        <span th:text="${booking.getFirst().getDate()}"></span>
      </a>
    </td>
    <td class="profile-td">
      <a>
        <span class="info" th:text="${booking.getFirst().getTime()}"></span>
      </a>
    </td>
    <td class="profile-td">
      <a>
        <span class="info" th:text="${booking.getSecond().getType()}"></span>
      </a>
    </td>
    <td class="profile-td">
      <a>
        <span class="info" th:text="${booking.getSecond().getStatus()}"></span>
      </a>
    </td>
    <td class="ta-right pad-right-15px">
      <a>
        <form th:if="${canCancelVaccine} and ${booking.getThird()}" th:action="@{/mybookings}" method="post">
          <input hidden readonly name="id" th:value="${booking.getFirst().getBooking_id()}"/>
          <input hidden readonly name="type" th:value="${booking.getSecond().getType()}">
          <input hidden readonly name="status" value="CANCELLED"/>
          <input class="cancel-booking" type="submit" value="Cancel" name="cancelVaccine"/>
        </form>
      </a>
    </td>
  </tr>
</table>

<table th:fragment="usersTestBookings" class="user-table w-100"   th:if="${hasTestBooking}">
  <div class="ta-center m-top-50px">
    <h2>TESTS</h2>
  </div>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th class="ta-right" th:if="${canCancelTest}"></th>
  </tr>

  <tr class="data-tr profile-tr" th:each="booking : ${bookings}"
      th:if="${booking.getFirst().getType()} == 'TEST'">
    <td>
      <a>
        <span th:text="${booking.getFirst().getDate()}"></span>
      </a>
    </td>
    <td class="profile-td">
      <a>
        <span class="info" th:text="${booking.getFirst().getTime()}"></span>
      </a>
    </td>
    <td class="profile-td">
      <a>
        <span class="info" th:text="${booking.getSecond().getStatus()}"></span>
      </a>
    </td>
    <td class="ta-right pad-right-15px">
      <a>
        <form th:if="${canCancelTest} and ${booking.getThird()}" th:action="@{/mybookings}" method="post">
          <input hidden readonly name="id" th:value="${booking.getFirst().getBooking_id()}"/>
          <input hidden readonly name="status" value="CANCELLED"/>
          <input class="cancel-booking" type="submit" value="Cancel" name="cancelTest"/>
        </form>
      </a>
    </td>
  </tr>
</table>

</body>
</html>