<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CO:CS</title>
    <link th:href="@{/css/style.css}"
          rel="stylesheet" type="text/css" media="screen"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body class="body">
    <header th:replace="fragments/header :: header"></header>
    <div class="content-body">
        <section class="content" layout:fragment="content"></section>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>