<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar navbar-expand-md navbar-dark bg-dark w-100" th:fragment="navigation">

    <!-- ANONYMOUS -->
    <ul class="navbar-ul d-flex w-100" sec:authorize="isAnonymous()">
        <li th:include="fragments/navItems :: navItemLogin" class="navbar-item navbar-first"></li>
        <li th:include="fragments/navItems :: navItemSignup" class="navbar-item"></li>
    </ul>

    <!-- ROLE_USER -->
    <ul class="navbar-ul d-flex w-100" sec:authorize="hasRole('ROLE_USER')">
        <li th:include="fragments/navItems :: navItemTest" class="navbar-item navbar-first"></li>
        <li th:include="fragments/navItems :: navItemVaccine" class="navbar-item"></li>
        <li th:include="fragments/navItems :: navItemProfile" class="navbar-item"></li>
        <li th:include="fragments/navItems :: navItemMybookings" class="navbar-item"></li>
        <li th:include="fragments/navItems :: navItemLogout" class="navbar-item"></li>
    </ul>

    <!-- ROLE_PERSONNEL -->
    <ul class="navbar-ul d-flex w-100" sec:authorize="hasRole('ROLE_PERSONNEL')">
        <li th:include="fragments/navItems :: navItemSearchuser" class="navbar-item navbar-first"></li>
        <li th:include="fragments/navItems :: navItemProfile" class="navbar-item"></li>
        <li th:include="fragments/navItems :: navItemLogout" class="navbar-item"></li>
    </ul>

    <!-- ROLE_ADMIN -->
    <ul class="navbar-ul d-flex w-100" sec:authorize="hasRole('ROLE_ADMIN')">
        <li th:include="fragments/navItems :: navItemSearchuser" class="navbar-item navbar-first"></li>
        <li th:include="fragments/navItems :: navItemLogout" class="navbar-item"></li>
    </ul>
</div>
</body>
</html>