<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="content-wrapper w-400px">
      <div class="content-title">
        <h1>[[${error}]]</h1>
      </div>
      <p style="text-align: center; color: red;">[[${msg}]]</p>
    </div>
</section>
</body>
</html>