<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Check Bookings</title>
    <link th:href="@{/css/tables.css}"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper w-400px">
        <div class="content-title">
             <h1>Booking Information</h1>
        </div>
        <table class="user-table w-100">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            <tr class="data-tr profile-tr" th:each="booking : ${bookings}">
                <td>
                    <a>
                        <span th:text="${booking.getDate()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getTime()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info" th:text="${booking.getType()}"></span>
                    </a>
                </td>
                <td class="profile-td">
                    <a>
                        <span class="info"></span>
                    </a>
                </td>
            </tr>
        </table>


    </div>
</section>


</body>
</html>