<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>SUCCESS</title>
</head>
<body>
<section layout:fragment="content" style="text-align: center">
    <div class="content-wrapper w-400px">
        <div class="content-title">
            <h1>SUCCESS</h1>
        </div>
        <p>Successfully booked a [[${type}]]</p><br>
        <a th:href="@{/mybookings}">See Bookings</a>
    </div>
</section>
</body>
</html>