<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
<section layout:fragment="content">
    <div class="login-form-wrapper">
        <div class="login-form-title">
            <h1>Create New Account</h1>
        </div>
        <form class="login-form" th:action="@{/signup}" method="post">
            <input class="form-input" th:classappend="${param.error} ? 'form-input-error'"
                   type="text" name="username" placeholder="Username"/>
            <input class="form-input" type="password" name="password" placeholder="Password">
            <div class="login-alert-wrapper">
                <div class="login-alert" th:if="${param.error}"> Username unavailable</div>
            </div>
            <input class="form-submit" type="submit" value="Create Account">
        </form>
    </div>
</section>
</body>
</html>