<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
<section layout:fragment="content">
    <div class="login-form-wrapper">
        <div th:if="${param.error}"> Username unavailable</div>
        <form class="login-form" th:action="@{/signup}" method="post">
            <input class="form-input" type="text" name="username" placeholder="Username"></input>
            <input class="form-input" type="password" name="password" placeholder="Password">
            <input class="form-submit" type="submit" value="Create Account">
        </form>
    </div>
</section>
</body>
</html>