<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{./fragments/layout.html}">
<head>
  <title>Hello World!</title>
</head>
<body>
<section layout:fragment="content">
  <div class="login-form-wrapper">
    <div class="login-form-title">
      <h1>Hello [[${firstname}]]!</h1>
    </div>
    <p style="text-align: center;">Welcome to the Covid Operations - Central System</p>
  </div>
</section>
</body>
</html>